In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.DataFrame(columns=['thread_num','Max Execution Time'])

In [3]:
df.loc[0] = [1,1.04055]

In [4]:
df.loc[1] = [2,0.52922]

In [5]:
df.loc[2] = [4,0.43097]

In [6]:
df.loc[3] = [8,0.32169]

In [7]:
df.loc[4] = [16,0.24825]

In [8]:
df

   thread_num  Max Execution Time
0         1.0             1.04055
1         2.0             0.52922
2         4.0             0.43097
3         8.0             0.32169
4        16.0             0.24825

In [10]:
dynamic = pd.DataFrame(columns=['Time of execution','Processes','Speedup','Efficiency'])

for i in range(0,4+1):
    num_thread = df['thread_num'][i]
    time = df['Max Execution Time'][i]
    t1 = df['Max Execution Time'][0]
    speedup = t1/time
    efficiency = speedup/num_thread
    threads = num_thread
    dynamic.loc[i-1] = [time,threads,speedup,efficiency]
dynamic= dynamic.reset_index().drop('index',axis=1)
dynamic

   Time of execution  Processes   Speedup  Efficiency
0            1.04055        1.0  1.000000    1.000000
1            0.52922        2.0  1.966196    0.983098
2            0.43097        4.0  2.414437    0.603609
3            0.32169        8.0  3.234636    0.404329
4            0.24825       16.0  4.191541    0.261971